#tweet-content {
  min-height: 130px;
  background-color: #F7F7F8;
  border: none;
}

#board {
  margin-top: 10px;
}

#tweet-contain {
  width: 80%;
  margin: 0 auto;
}

#tweet {
  padding: 10px 20px;
  font-weight: bold;
}

#below-input {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.tweet-head {
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
}

.button-container {
  display: flex;
  justify-content: space-evenly;
  /* border: 1px dotted green; */
  margin-bottom: 10px;
}
.button-container button {
  width: 100%;
  border-radius: 0;
  color: white;
}

.btn-delete {
    height: 70%;
    margin: auto 0;
}

.custom-card {
  /* border: 1px solid red; */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.comment-card {
  width: 90%;
  margin: 0 auto;
  /* border: 1px solid blue; */
}

.username {
    /* font-size: 30px; */
}

.fa-twitter-square {
    font-size: 40px;
    color: #0386e3
}

#currentUsername {
    height: 32px;
    width: 300px;
    border: none;
}

#signinButton {
    background-color: #6336BE;
    color: white;
}

.bg-custom {
    background-color: #E6DEF5;
}


/* wave animation */
@keyframes move_wave {
  0% {
      transform: translateX(0) translateZ(0) scaleY(1)
  }
  50% {
      transform: translateX(-25%) translateZ(0) scaleY(0.55)
  }
  100% {
      transform: translateX(-50%) translateZ(0) scaleY(1)
  }
}
.waveWrapper {
  overflow: hidden;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  margin: auto;
}
.waveWrapperInner {
  position: absolute;
  width: 100%;
  overflow: hidden;
  height: 100%;
  bottom: -1px;
  background-image: linear-gradient(to top, #86377b 20%, #27273c 80%);
}
.bgTop {
  z-index: 15;
  opacity: 0.5;
}
.bgMiddle {
  z-index: 10;
  opacity: 0.75;
}
.bgBottom {
  z-index: 5;
}
.wave {
  position: absolute;
  left: 0;
  width: 200%;
  height: 100%;
  background-repeat: repeat no-repeat;
  background-position: 0 bottom;
  transform-origin: center bottom;
}
.waveTop {
  background-size: 50% 100px;
}
.waveAnimation .waveTop {
animation: move-wave 3s;
 -webkit-animation: move-wave 3s;
 -webkit-animation-delay: 1s;
 animation-delay: 1s;
}
.waveMiddle {
  background-size: 50% 120px;
}
.waveAnimation .waveMiddle {
  animation: move_wave 10s linear infinite;
}
.waveBottom {
  background-size: 50% 100px;
}
.waveAnimation .waveBottom {
  animation: move_wave 15s linear infinite;
}