*{
  font-family: Lato;
}

#tweet-content {
  min-height: 130px;
  background-color: #F7F7F8;
  border: none;
}

#board {
  margin-top: 10px;
}

#tweet-contain {
  width: 80%;
  margin: 0 auto;
}

#tweet {
  padding: 10px 20px;
  font-weight: bold;
}

#below-input {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.tweet-head {
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
}

.button-container {
  display: flex;
  justify-content: space-evenly;
  /* border: 1px dotted green; */
  /* margin-bottom: 10px; */
  margin-top:40px;
}
.button-container button {
  width: 100%;
  border-radius: 0;
  color: white;
}

.btn-delete {
    height: 70%;
    margin: auto 0;
}

.delete-hover:hover > *{
  color: red;
  transition: 0.5s ease;
  transform: scale(2);
}

.delete-hover:not(hover) > *{
  /* color: blue; */
  transition: 1s ease;
  transform: scale(1  );
}

.custom-card {
  border: 5px;
  box-shadow: 0 4px 11px 0 #e6e3ec;
  min-height: 260px;
  margin-top: -30px;
}

.comment-card {
  width: 100%;
  margin: 0 auto;
  /* border: 1px solid blue; */

}


.fa-twitter-square {
    font-size: 40px;
    color: #6336BE;
}

#currentUsername {
    height: 32px;
    width: 300px;
    border: none;
}

#signinButton {
    background-color: #6336BE;
    color: white;
}
/* Hang */
.bg-custom {
    background-color: #E6DEF5;
}
/* Hang */
.title {
  color: #190049;
}
/* Hang */
.btn-primary {
  background-color: #6336BE;
}
/* Hang */
.col-lg-12{
  background-color: white;
  margin-top: 50px;
}
/* Hang */
.line {
  margin-top: 30px;
}
/* Hang */
.total {
  color: #6336BE;
  margin-left: 20px;
  font-size: 18px;
  margin-top: 14px;
}
/* Hang */
.line-card {
  margin-top: 30px;  
}
/* Hang */
.usernamestyle {
  font-size: 24px;
  margin-left: 16px;
}
/* Hang */
.date {
  font-size: 18px;
  color: #D2D2D2;
  margin-left: 20px;
}
/* Hang */
.profile-img {
  width: 60px;
  height: 60px;
}
/* Hang */
.total-content{
  background-color: #E6DEF5;
  height: 50px;
  display: flex;
  justify-content: space-between;

}
/* Hang */
#count {
  color: #6336BE;
  margin-right: 20px;
  font-size: 24px;
  margin-top: 8px;
}
/* Hang */
.content-box {
  background-color: #F7F7F8;
  min-height: 50px;
  display: flex;
  align-self: center;
}
/* Hang */
.text-content {
  margin: 20px;
}
/* Hang */
.info-card {
  display: inline-block;
}
/* Hang */
.fas {
  color:#6336BE;
}
/* Hang */
.icon-text {
  margin-left: 10px;
  color: #6336BE;
}
/* Hang */
.fa-trash-alt{
  color: #D2D2D2;
}
/* Hang */
.icon-delete-text {
  margin-left: 10px;
  color: #D2D2D2;
}
/* Hang */
.comment-card {
  margin-top: 40px;
}
/* Hang */
.comment-content {
  margin-left: 20px;
  margin-top: 10px;
}
/* Hang */
.comment-username {
  font-weight: bold; 
}
/* Hang */
.date-comment {
  color: #D2D2D2;
  margin-left: 10px;
}
/* Hang */
.comment-box {
  background-color: #F7F7F8;
  min-height: 30px;
  align-items: center;
  display: flex;
}
/* Hang */
.comment-word {
  margin-left: 10px;
}
/* Hang */
footer {
  margin-top: 50px;
}

/* Hang */
.main-img {
  width: 15%;
  height: 15%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  margin-bottom: 10px;
}


/* Khoa */
.origin-tweet {
  width:70%;
  margin: 0 auto;
  box-shadow: 0 4px 11px 0 #e6e3ec;
  background-color: grey;
  margin-bottom:  10px;
}